# Deletion Methods

1. Listwise Deletion (Remove Rows)  
   `df.dropna()`
2. Column Deletion  
   `df.drop(columns=["Age"])`

# Imputation Methods (Replacing Missing Values)

Imputation means filling missing values with estimated values.

### 1. Mean Imputation

`df["Marks"].fillna(df["Marks"].mean(),inplace=True)`  
### 2. Median Imputation

 `df["Marks"].fillna(df["Marks"].median(),inplace=True)`
### 3. Mode Imputation

 `df["Marks"].fillna(df["Marks"].mode(),inplace=True)` 

### 4. Forward Fill

`df.fillna(method='ffill)`

### 5. Backward Fill

`df.fillna(method='bfill)`

### 6. Interpolation
`df.interpolate()`

In [4]:
import pandas as pd
import numpy as np

data={
    "Population":[np.nan,300,20,40],
    "Capital":[np.nan,"Lucknow","Noida","New Delhi"]
}

countries=["India","USA","Nepal","Sri Lanka"]

df=pd.DataFrame(data,index=countries)

In [5]:
df.fillna({"Population":df["Population"].mean()},inplace=True)

In [6]:
df.fillna({"Capital":df["Capital"].mode()},inplace=True)

In [7]:
df.isnull()

           Population  Capital
India           False     True
USA             False    False
Nepal           False    False
Sri Lanka       False    False

# **OutLier**

It is a data value that is significantly different from other values from the dataset

## **IQR Method (Interquartile Range)**

IQR = Q3 - Q1

Where :
- Q1 = 25th quartile
- Q3 = 75th quartile

In [29]:
# Homework

import pandas as pd

data={
    "Age":[20,21,None,22],
    "Marks":[35,None,98,90]
}

df=pd.DataFrame(data)

print(df.isnull().sum())

Age      1
Marks    1
dtype: int64

In [30]:

df.fillna({'Age':df['Age'].mean()},inplace=True)

In [31]:
df.fillna({'Marks':df['Marks'].median()},inplace=True)

In [32]:
print(df)

    Age  Marks
0  20.0   35.0
1  21.0   90.0
2  21.0   98.0
3  22.0   90.0